// GENERAL SETTINGS
@import "setup";

//VARIABLES

$red: #C9352B;
$black: #1A1B1C;
$headerGrey: #646461;
$blogGrey: #E5E6E7;
$white: #fff;

//GENERAL STYLES
html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Hind', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 4.8rem;
	color:orange;
}

h2 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

//NAVBAR
.topNav {
	display: flex;
	justify-content: space-between;
	background: $black;

	a {
		color: $white;
		text-transform: uppercase;
		font-size: 1.2rem;
	}
}

.contactNav {
	display: flex;
	justify-content: space-between;
	li {
		padding: 1rem;
		border-right: 1px solid $white;
	}

}

.bottomNav {
	background: $headerGrey;
}

.sidebar {
	form {
		display: flex;
	}
}
